* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.container {
    max-width: 1100px;
    margin: auto;
}


.header {
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #012970;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #012970;
}


.hero {
    background: #f6f9ff;
    padding: 80px 0;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 36px;
    color: #012970;
}

.hero-text p {
    margin: 20px 0;
    font-size: 18px;
    font-style: italic;
}

.hero-text button {
    padding: 12px 25px;
    background: #4154f1;
    color: white;
    border: none;
    border-radius: 5px;
}


.about {
    padding: 60px 0;
}

.about-content {
    display: flex;
    gap: 40px;
    align-items: center;
    font-style: italic;
}

.about-img img {
    width: 400px;
    border-radius: 10px;
}


.team {
    background: #f6f9ff;
    padding: 60px 0;
}

.team-box {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.member {
    background: white;
    width: 250px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.member img {
    width: 100%;
    border-radius: 10px;
}


.footer {
    background: #012970;
    color: white;
    text-align: center;
    padding: 20px 0;
}
