*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7eWDTcjJUAJ93m3pExYMPC1Gf0vmNqMYwvA&s");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 0; */
}

header{
    background-color: black;
    color: beige;
    text-align: left;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    font-weight: 300;
    font-style: italic;
}

nav{
    background-color: cornflowerblue;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 12px 0;
}
nav a{
    background-color: darkslateblue;
    display: inline-block;
    margin: 0 25px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
}

#box {
    background-color: rgba(255, 255, 255, 0.9);
    width: 70%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#box p {
    color: black;
    font-size: 16px;
    line-height: 1.6;
}

